.header {
  background-color: #3e206d;
  width: 100vw;
  height: 15vh;
  position: fixed;
  z-index: 100;
}

.logo {
  color: #f0e3ff;
  display: flex;
}

.big {
  font-size: 3vw;
}

.small {
  font-size: 2vw;
  padding-top: 2.3vh;
}

.idxImageWrapper {
  width: 18vw !important;
  height: 25vh !important;
  background-color: rgba(192,192,192,0.3);
  justify-content: center;
  align-items: center;
  display: flex;
}

.idxImageTopWrapper {
  padding-top: 0.5vw;
  display: flex;
}

.idximg {
  max-width: 15vw;
  max-height: 20vh !important;
  width: auto;
  height: auto;
  border: 1px solid black;
  opacity: 0.9;
  transition: all 0.2s;
}

.idximg:hover {
  transform: scale(1.1, 1.1);
  opacity: 1;
}

.body {
  padding-top: 8vw;
}


.bigimg {
  display: block;
  max-width:100vw;
  max-height:100vh;
  width: auto;
  height: auto;
  margin-left: 2vw;
  margin-top: 0.5vw;
  border: 1px solid black;
}

.allWrapper {
  padding-left: 5vw;
}

.four {
  display: flex;
}

.separator {
  min-width: 0.5vw;
}

.lds-spinner {
  color: official;
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
}
.lds-spinner div {
  transform-origin: 40px 40px;
  animation: lds-spinner 1.2s linear infinite;
}
.lds-spinner div:after {
  content: " ";
  display: block;
  position: absolute;
  top: 3px;
  left: 37px;
  width: 6px;
  height: 18px;
  border-radius: 20%;
  background: #3e206d;
}
.lds-spinner div:nth-child(1) {
  transform: rotate(0deg);
  animation-delay: -1.1s;
}
.lds-spinner div:nth-child(2) {
  transform: rotate(30deg);
  animation-delay: -1s;
}
.lds-spinner div:nth-child(3) {
  transform: rotate(60deg);
  animation-delay: -0.9s;
}
.lds-spinner div:nth-child(4) {
  transform: rotate(90deg);
  animation-delay: -0.8s;
}
.lds-spinner div:nth-child(5) {
  transform: rotate(120deg);
  animation-delay: -0.7s;
}
.lds-spinner div:nth-child(6) {
  transform: rotate(150deg);
  animation-delay: -0.6s;
}
.lds-spinner div:nth-child(7) {
  transform: rotate(180deg);
  animation-delay: -0.5s;
}
.lds-spinner div:nth-child(8) {
  transform: rotate(210deg);
  animation-delay: -0.4s;
}
.lds-spinner div:nth-child(9) {
  transform: rotate(240deg);
  animation-delay: -0.3s;
}
.lds-spinner div:nth-child(10) {
  transform: rotate(270deg);
  animation-delay: -0.2s;
}
.lds-spinner div:nth-child(11) {
  transform: rotate(300deg);
  animation-delay: -0.1s;
}
.lds-spinner div:nth-child(12) {
  transform: rotate(330deg);
  animation-delay: 0s;
}
@keyframes lds-spinner {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
